<h1><%= @heroine.name %><br><h1>
<h4><%= @heroine.super_name %></h4>
<h4><%= link_to @heroine.power.name, power_path(@heroine.power) %></h4>

<h4><%= link_to "Back to List of Heroines...", heroines_path %></h4>
